/* .heading{
    color:blue;
    font-size: 15px;
}
.employeeDetails-form{ position:static; 
   padding-left:5rem; 
} 
.sub-employeeDetails{
    display:flex;
    justify-content: center;
    align-items: center;
}
.input-div{
    padding-bottom:1rem;
}
.input-field{

    border:none;
    border-bottom: 1px solid#8A8181;
    width:100%;

} */
/* .form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
   

} */
/**
        Progress Bar starts----------------------------------------->
 */
.progressbar{
     position: relative;
     display: flex;
     justify-content: space-between;
     counter-reset: step;
     margin-top: 1rem ;
     margin-bottom: 3rem;
}
.progressbar::before{
    content: "";
    height: 5px;
    width: 100%;
    position: absolute;
    top:50%;
    /* transform: translate(-50%); */
    background-color: #dcdcdc;
    /* z-index: -1; */
}
.progress-step{
    width: 2.185em;
    height: 2.185em;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center ;
    z-index: 9999;
}
.progress-step::before{
    counter-increment: step;
    content: counter(step);
}
.progress-step::after{
   content: attr(data-title);
   top: calc(100% + 0.75rem);
   position: absolute;
   font-size: 0.85rem;
   color: #666;
   font-weight: 600;
}
.progress-step-active{
    background-color: #2874fb;
    color: #f3f3f3;
}

/* Form heading--------------------------------*/
.form-header{
    text-align: center;
}


/**   Footer starts-------------------------------------------> */
.footer{
    display: flex;
    justify-content: space-around;
}
.MuiButton-containedPrimary {
    color: #fff;
    background-color: #3f51b5;
    width: 12%;
}