 .container {
     display: flex;
 }

 .container-header {
     display: flex;
     background: rgb(28, 23, 40);
     align-items: center;
     gap: 40rem;
     height: 60px;
     color: whitesmoke;
     font-weight: 300;
     font-size: 20px;
     justify-content: flex-start;
 }

 .container-component {
     width: 90%;
     margin-left: 16rem;
     margin-right: 4rem;
 }